
name: Update VPN Configs

on:
  schedule:
    - cron: "0 */12 * * *"  # каждые 12 часов
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-files:
    runs-on: ubuntu-latest

    steps:
      # 1. Клонируем репозиторий
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      # 2. Ставим Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # 3. Обновляем pip
      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      # 4. Устанавливаем зависимости
      - name: Install dependencies
        run: |
          cd source
          pip install --no-cache-dir -r requirements.txt

      # 5. Запускаем main.py
      - name: Run main.py
        env:
          MY_TOKEN: ${{ secrets.MY_TOKEN }}
        run: |
          cd source
          python main.py

      # 6. Коммитим изменения от AbikusSudo
      - name: Commit & push changes
        run: |
          git config user.name "AbikusSudo"
          git config user.email "AbikusSudo@users.noreply.github.com"
          git add .
          git commit -m "update configs $(date -u)" || echo "No changes"
          git push
