name: Sync githubmirror to root

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout mirror_flux
        uses: actions/checkout@v3

      - name: Checkout source repo
        run: |
          git clone https://github.com/whoahaow/rjsxrd.git source_repo

      - name: Clean repo root
        run: |
          shopt -s extglob
          rm -rf !(.git|.github|source|README.md)

      - name: Copy githubmirror to root
        run: |
          cp -r source_repo/githubmirror/* .

      - name: Commit and push
        run: |
          git config user.name "AbikusSudo"
          git config user.email "AbikusSudo@users.noreply.github.com"
          git add .
          git commit -m "sync githubmirror $(date -u)" || true
          git push
